---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 10;
---

<div>
	Hi, this is my personal github page site.
	It was created using <a href="https://www.11ty.dev/">Eleventy</a>.<br>
	I was using Jekyll before but it didn't work for me. 
	Trying to change anything was a pain, templates got messed with package versions
	not to mention the need to have Ruby and Gems installed.
	Running Jekyll inside a docker container helped, but still not the most user friendly tool.<br>
	I belive that tools should not into our way of getting things done.
	I am already familiar and working with the NodeJS and Javacript toolset 
	and it is much easier for me to get around with it.<br>
</div>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
